<form autocomplete="off">
<h3 mat-dialog-title>
  <span>Client Register</span>
  <a (click)="closeDialog()" aria-label="Close">
    <mat-icon>close</mat-icon>
  </a>
</h3>
<mat-dialog-content>
  <div class="row">
    <div class="col-lg-12 col-xl-12 mb-3">
      <label for="txtClientID" class="form-label">ClientID</label>
      <input
        type="text"
        class="form-control form-control-sm"
        readonly
        id="txtClientID"
        [(ngModel)]="clientID"
        name="ClientID"
        tabindex="-1"
      />
    </div>
    <div class="col-lg-12 col-xl-12 mb-3">
      <label for="txtClientName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="txtClientName"
        [(ngModel)]="clientName"
        name="ClientName"
        [disabled]="mode === 'Delete'"
        autofocus
      />
    </div>
    <div class="col-lg-12 col-xl-12 mb-3">
      <label class="form-label" for="rdoGender">Gender</label>
      <div class="d-flex">
        <div class="form-check me-3">
          <input
            class="form-check-input"
            type="radio"
            name="rdoGender"
            id="rdoMale"
            value="1"
            [(ngModel)]="gender"
            name="Gender"
            [disabled]="mode === 'Delete'"
          />
          <label class="form-check-label" for="rdoMale">Male</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="rdoGender"
            id="rdoFemale"
            [(ngModel)]="gender"
            value="2"
            name="Gender"
            [disabled]="mode === 'Delete'"
          />
          <label class="form-check-label" for="rdoFemale">Female</label>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-12 mb-3">
      <label for="txtDOB" class="form-label">Date Of Birth</label>
      <input
        type="text"
        class="form-control form-control-sm text-center"
        id="txtDOB"
        #txtDOB
        [(ngModel)]="dob"
        name="DOB"
        [disabled]="mode === 'Delete'"
      />
    </div>
    <div class="col-lg-12 col-xl-12 mb-3">
      <label for="txtPhoneNo" class="form-label">Phone Number</label>
      <input
        type="tel"
        class="form-control form-control-sm"
        id="txtPhoneNo"
        [(ngModel)]="phoneNo"
        name="PhoneNo"
        [disabled]="mode === 'Delete'"
      />
    </div>
    <div class="col-lg-12 col-xl-12 mb-3">
      <label for="txtAddress" class="form-label">Address</label>
      <textarea
        id="txtAddress"
        class="form-control form-control-sm"
        [(ngModel)]="address"
        name="Address"
        [disabled]="mode === 'Delete'"
      ></textarea>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    id="btncancel"
    type="button"
    (click)="closeDialog()"
    class="btn w100 btn-dark btn-sm mr5"
  >
    Cancel
  </button>
  <button
    type="button"
    id="btnSaveInvoice"
    class="btn w100 btn-sm mr5"
    [ngClass]="{
      'btn-success': mode === 'New',
      'btn-info': mode === 'Edit',
      'btn-danger': mode === 'Delete'
    }"
    (click)="save()"
    [disabled]="isSubmitting"
  >
    {{
      mode === "New"
        ? "Save"
        : mode === "Edit"
        ? "Update"
        : mode === "Delete"
        ? "Delete"
        : "Submit"
    }}
  </button>
</mat-dialog-actions>
</form>