<div class="card">
  <h6 class="card-header">
    <i class="material-icons">medical_services</i> Client Treatment
  </h6>
  <div class="card-body">
    <form autocomplete="off">
      <div class="row">
        <div class="col-lg-6 col-xl-6 mb10">
          <div class="row g-3">
            <!-- Client ID -->
            <div
              class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex align-items-center"
            >
              <label for="txtClientID" class="form-label me-2 w150"
                >Client ID:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                id="txtClientID"
                [(ngModel)]="clientID"
                name="clientID"
                readonly
              />
            </div>

            <!-- Client Name -->
            <div
              class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex align-items-center"
            >
              <label for="txtClientName" class="form-label me-2 w150"
                >Name:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                id="txtClientName"
                [(ngModel)]="clientName"
                name="clientName"
                readonly
              />
            </div>

            <!-- Gender -->
            <div
              class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex align-items-center"
            >
              <label for="txtGender" class="form-label me-2 w150"
                >Gender:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                id="txtGender"
                [(ngModel)]="gender"
                name="gender"
                readonly
              />
            </div>

            <!-- DOB -->
            <div
              class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex align-items-center"
            >
              <label for="txtDOB" class="form-label me-2 w150"
                >Date of Birth:</label
              >
              <input
                type="text"
                class="form-control form-control-sm text-center"
                id="txtDOB"
                [(ngModel)]="dob"
                name="dob"
                readonly
              />
            </div>

            <!-- Phone No -->
            <div
              class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex align-items-center"
            >
              <label for="txtPhoneNo" class="form-label me-2 w150"
                >Phone No:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                id="txtPhoneNo"
                [(ngModel)]="phoneNo"
                name="phoneNo"
                readonly
              />
            </div>

            <!-- Address -->
            <div
              class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex align-items-center"
            >
              <label for="txtAddress" class="form-label me-2 w150"
                >Address:</label
              >
              <textarea
                class="form-control form-control-sm h130"
                id="txtAddress"
                [(ngModel)]="address"
                name="address"
                readonly
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 mb10"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-xl-6 mb10">
          <div class="col-lg-12 col-xl-12 mb10">
            <div class="card">
              <h6 class="card-header card-header1">Treatment Instruction</h6>
              <div class="card-body">
                <div class="row mb10">
                  <div class="col-lg-12 col-xl-12 d-flex justify-content-end">
                    <button
                      id="btnAddInstruction"
                      class="btn btn-sm btn-success w200 mr10"
                      type="button"
                      (click)="openTreatmentInstruction('New', '', '')"
                    >
                      Add Treatment/Medicine
                    </button>
                  </div>
                </div>
                <table
                  id="tblInstruction"
                  class="table table-sm table-hover table-striped table-bordered w100p"
                >
                  <thead>
                    <tr>
                      <th class="text-center">Instruction No</th>
                      <th class="text-center">Date</th>
                      <th>Treatment</th>
                      <th></th>
                    </tr>
                  </thead>
                  <!-- Replaced *ngIf with @if / @else if / @else blocks -->
                  @if (doctorInstructionLoading) {
                  <tbody>
                    <tr>
                      <td colspan="12" class="text-center">
                        <div
                          class="spinner-border spinner-border-sm text-primary"
                          role="status"
                        ></div>
                        <span class="ms-2">Loading data...</span>
                      </td>
                    </tr>
                  </tbody>
                  } @else if (doctorInstructionData.length === 0) {
                  <tbody>
                    <tr>
                      <td colspan="12" class="text-center text-muted">
                        There is no data to display.
                      </td>
                    </tr>
                  </tbody>
                  } @else {
                  <tbody>
                    <!-- Replaced *ngFor with @for block. Added a 'track' function for performance. -->
                    @for (row of doctorInstructionData; track row.InstructionCD)
                    {
                    <tr>
                      <td class="text-center w150">{{ row.InstructionCD }}</td>
                      <td class="text-center">
                        {{
                          generalservice.getFormattedDate(row.InstructionDate)
                        }}
                      </td>
                      <td
                        [innerHTML]="
                          generalservice.formatItemList(row.ItemList)
                        "
                      ></td>
                      <td class="text-center align-middle">
                        <a
                          (click)="
                            openTreatmentInstruction(
                              'Edit',
                              row.InstructionCD,
                              row.Notes
                            )
                          "
                          ><i
                            class="fa-solid fa-pen-to-square text-primary fa-lg action-icon me-3"
                          ></i
                        ></a>
                        <a
                          (click)="
                            openTreatmentInstruction(
                              'Delete',
                              row.InstructionCD,
                              row.Notes
                            )
                          "
                          ><i
                            class="fa-solid fa-trash-can text-danger fa-lg action-icon"
                          ></i
                        ></a>
                      </td>
                    </tr>
                    }
                  </tbody>
                  }
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 mb10">
          <div class="card">
            <h6 class="card-header card-header1">Treatment History</h6>
            <div class="card-body">
              <table
                id="tblTreatmentHistory"
                class="table table-sm table-hover table-striped table-bordered w100p"
              >
                <thead>
                  <tr>
                    <th class="text-center">Invoice No</th>
                    <th class="text-center">Last Treatment Date</th>
                    <th>Treatment</th>
                    <th class="text-right">Total Sessions</th>
                    <th class="text-right">Used Sessions</th>
                    <th class="text-right">Balance</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <!-- Replaced *ngIf with @if / @else if / @else blocks -->
                @if (treatmentLoading) {
                <tbody>
                  <tr>
                    <td colspan="12" class="text-center">
                      <div
                        class="spinner-border spinner-border-sm text-primary"
                        role="status"
                      ></div>
                      <span class="ms-2">Loading data...</span>
                    </td>
                  </tr>
                </tbody>
                } @else if (treatmentHistoryData.length === 0) {
                <tbody>
                  <tr>
                    <td colspan="12" class="text-center text-muted">
                      There is no data to display.
                    </td>
                  </tr>
                </tbody>
                } @else {
                <tbody>
                  <!-- Replaced *ngFor with @for block. Added a 'track' function for performance. -->
                  @for (row of treatmentHistoryData; track row.InvoiceNo) {
                  <tr>
                    <td class="text-center w150">{{ row.InvoiceNo }}</td>
                    <td class="text-center">
                      {{
                        generalservice.getFormattedDate(row.LastTreatmentDate)
                      }}
                    </td>
                    <td>{{ row.ItemName }}</td>
                    <td class="text-right">{{ row.TotalQuantity }}</td>
                    <td class="text-right">{{ row.UsedTreatment }}</td>
                    <td class="text-right">{{ row.Balance }}</td>
                    <td class="text-center align-middle">
                      <a (click)="openTreatmentHistoryDialog(row)"
                        ><i class="material-icons text-primary">history</i></a
                      >
                    </td>
                  </tr>
                  }
                </tbody>
                }
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row fixedfooter">
  <div class="row div-centerbtn">
    <button
      type="button"
      class="btn btn-dark w100 btn-sm backtolist mr5"
      (click)="generalservice.goBack('ClientList')"
    >
      Back
    </button>
  </div>
</div>
