select option {
  text-align: center;
}

#tblDailySalesReport a {
  color: blue !important;
  cursor: pointer;
}

.s1 {
  background-color: #f7ffa9;
}

.s2 {
  background-color: #ffcac7;
}

.radio-group {
  padding-right: 0;
  padding-left: 10px;
}

.totalrow td {
  background-color: #cde6ff !important;
}
