.print {
  color: #4d4dff;
}

.copy {
  color: #d04caa;
}

.detail {
  color: #2a8647;
}

.deleterequest {
  color: #f7587c;
}

.edit {
  color: #f7587c;
}

a {
  cursor: pointer;
}

.subtotal td {
  background-color: #cde6ff !important;
}
